In [1]:
import pandas as pd

In [12]:
pd.read_csv('exportations réseau point.csv', sep=';')

     COU ; Reporting country ; FLW ; Flow ; PAR ; Partner country ; CAT ; End-use ; IND ; Industry ; VAL ; Variable ; TIME ; Time ; Unit Code ; Unit ; PowerCode Code ; PowerCode ; Reference Period Code ; Reference Period ; Value ; Flag Codes ; Flags
0     USA ; United States ; EXPO ; Exports ; AUS ; A...
1     USA ; United States ; EXPO ; Exports ; AUT ; A...
2     USA ; United States ; EXPO ; Exports ; BEL ; B...
3     USA ; United States ; EXPO ; Exports ; CAN ; C...
4     USA ; United States ; EXPO ; Exports ; CHL ; C...
...                                                 ...
6951  GTM ; Guatemala ; IMPO ; Imports ; TON ; Tonga...
6952  GTM ; Guatemala ; IMPO ; Imports ; PYF ; Frenc...
6953  PAK ; Pakistan ; EXPO ; Exports ; PYF ; French...
6954  PAK ; Pakistan ; IMPO ; Imports ; SSD ; South ...
6955  TZA ; Tanzania ; EXPO ; Exports ; TJK ; Tajiki...

[6956 rows x 1 columns]

In [13]:
pd.read_excel('exportations réseau.xlsx')

     "COU", "Reporting country", "FLW", "Flow", "PAR", "Partner country", "CAT", "End-use", "IND", "Industry", "VAL", "Variable", "TIME", "Time", "Unit Code", "Unit", "PowerCode Code", "PowerCode", "Reference Period Code", "Reference Period", "Value", "Flag Codes", "Flags"
0     USA, "United States", "EXPO", "Exports", "AUS"...
1     USA, "United States", "EXPO", "Exports", "AUT"...
2     USA, "United States", "EXPO", "Exports", "BEL"...
3     USA, "United States", "EXPO", "Exports", "CAN"...
4     USA, "United States", "EXPO", "Exports", "CHL"...
...                                                 ...
6951  GTM, "Guatemala", "IMPO", "Imports", "TON", "T...
6952  GTM, "Guatemala", "IMPO", "Imports", "PYF", "F...
6953  PAK, "Pakistan", "EXPO", "Exports", "PYF", "Fr...
6954  PAK, "Pakistan", "IMPO", "Imports", "SSD", "So...
6955  TZA, "Tanzania", "EXPO", "Exports", "TJK", "Ta...

[6956 rows x 1 columns]